@import '../../node_modules/svg-spritemap-webpack-plugin/sprites';
@import '_mixins';

.social-icon {
  display: block;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;

  &.twitter {
    &:after {
      @include icon(7px, 11px);
      @include sprite('tumblr');
    }
  }

  &.facebook {
    &:after {
      @include icon(7px, 11px);
      @include sprite('facebook');
    }
  }

  &.instagram {
    &:after {
      @include icon(14px, 8px);
      @include sprite('instagram');
    }
  }
}