@import '../../node_modules/svg-spritemap-webpack-plugin/sprites';
@import '_vars';
@import '_mixins';

html, body {
  @include flex-box(column, center, center);
  box-sizing: border-box;
  background: #ffffff;
  cursor: default;

  #container {
    width: $width;

    @include flex-box(column, center, center);

  }
}