@import '../../node_modules/svg-spritemap-webpack-plugin/sprites';
@import '_vars';
@import '_mixins';
@import 'social-icon';
@import 'download';

html, body {
  box-sizing: border-box;
  background: #ffffff;
  cursor: default;

  #container {
    width: 1020px;

    @include flex-box(column, center, center);

    .container-new {
      @include flex-box(row, space-between, center);

      width: $width - 20px;
      background-color: $lowColor;

      padding: 5px 10px;

      border-radius: $borderRadius;

      .wrapper {
        @include flex-box(row, center, center);
      }

      &__item {
        @include arial-font(14px);

        margin-right: 15px;
      }

      &__button {
        background-color: $highColor;
        padding: 7px 12px;
        border-radius: $borderRadius;

        @include ubuntu-font(14px);
      }

      &__close {
        display: block;
        width: 12px;
        height: 12px;
        cursor: pointer;
        @include sprite('close');
      }
    }

    .container-main {
      @include flex-box(row, space-between, flex-start);

      padding-top: 23px;

      width: $width;

      .container-player {
        @include flex-box(column, space-between, center);

        &__player {
          width: 700px;
          height: 525px;
          border-radius: $borderRadius;
          background-color: black;
        }

        &__controls {

        }
      }

      .container-info {
        @include flex-box(column, space-between, center);

        width: 220px;

        border: 1px solid #d0d8ef;
        border-radius: $borderRadius;

        padding-top: 20px;
        padding-bottom: 35px;

        &__photo {
          width: 120px;
          height: 120px;
          border-radius: 50%;

          background: #cac8cb;
        }

        &__name {
          @include ubuntu-font(24px);

          padding: 20px 0;
        }

        &__description {
          @include flex-box(column, space-between, center);

          .description__item {
            @include flex-box(row, center, center);
            flex-wrap: wrap;

            width: 170px;

            margin-bottom: 10px;

            &__title {
              @include arial-font(14px);
              margin-right: 2px;

              &:after {
                content: ':';
                font-weight: normal;
              }
            }

            &__value {
              @include arial-font(14px);
              font-weight: normal;
              margin-right: 3px;

              &:not(:last-child):after {
                content: ',';
                font-weight: normal;
              }

              &.link {
                text-decoration: underline;
              }
            }
          }
        }

        &__delimiter {
          width: 180px;
          height: 1px;
          background: #d0d8ef;
          margin-top: 30px;
          margin-bottom: 30px;
        }

        &__description-text {
          @include arial-font(14px);
          font-weight: normal;
          color: #334069;

          width: 180px;
          text-align: center;
        }
      }
    }

    .container-footer {
      @include flex-box(column, center, center);

      width: $width;
      padding-top: 52px;

      .container-title {
        @include flex-box(row, space-between, center);

        width: 100%;

        &__title {
          @include ubuntu-font(24px);
          font-family: "Ubuntu", sans-serif;
          font-size: 24px;
          font-weight: bold;
          font-style: italic;
          text-transform: uppercase;
          color: $color;
          white-space: nowrap;
          padding-right: 22px;
        }

        &__border {
          width: 100%;
          height: 1px;
          background: #d0d8ef;
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }

      &__container-videos {
        @include flex-box(row, space-between, center);

        width: 100%;

        .container-video {
          position: relative;

          @include flex-box(column, space-between, center);

          width: 220px;

          &__player {
            width: 220px;
            height: 165px;
            border-radius: $borderRadius;
            background-color: black;
          }

          &__title {
            @include arial-font(14px);

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;

            margin-top: 14px;
          }
        }

        .social-icon {
          position: absolute;
          bottom: 50px;
          left: 20px;
        }
      }
    }
  }
}