@import '~svg-spritemap-webpack-plugin/_sprites';

@mixin icon($width, $left) {
  content: '';
  display: block;
  height: 14px;
  width: $width;
  position: relative;
  top: 8px;
  left: $left;
}

.social-icon {
  display: block;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;

  &.tumblr {
    &:after {
      @include icon(7px, 11px);
      @include sprite('tumblr');
    }
  }

  &.facebook {
    &:after {
      @include icon(7px, 11px);
      @include sprite('facebook');
    }
  }

  &.instagram {
    &:after {
      @include icon(14px, 8px);
      @include sprite('instagram');
    }
  }
}