@import '../../../node_modules/svg-spritemap-webpack-plugin/sprites';
@import '../../styles/_vars';
@import '../../styles/_mixins';

.player {
  @include flex-box(column, space-between, center);

  &-component {
    width: 700px !important;
    height: 525px !important;
    border-radius: $borderRadius;
    background-color: black;
  }

  &-controls {
    @include flex-box(row, space-between, center);

    width: 100%;

    padding-top: 20px;

    .wrapper {
      @include flex-box(row, space-between, center);

      width: 290px;

      .button {
        margin-left: 20px;
        @include flex-box(row, center, center);
        height: 20px;
        width: 25px;
        cursor: pointer;

        &.play {
          @include sprite('play')
        }

        &.pause {
          @include sprite('pause')
        }

      }

      .current {
        @include arial-font(14px);
        font-weight: normal;
      }

      .total {
        @include arial-font(14px);
        font-weight: normal;
        opacity: .3;
      }

    }

  }
}
